@model EducationManual.Models.CreateRoleModel

<h2>Add roles</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true, "")
        <p>Name:  @Html.EditorFor(model => model.Name)</p>
        <p><input type="submit" value="Add" /></p>
    </div>
}
