@model EducationManual.Models.EditRoleModel

<h2>Edit roles</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true, "")
        @Html.HiddenFor(model => model.Id)
        <p>Name:  @Html.EditorFor(model => model.Name)</p>
        <p><input type="submit" value="Edit" /></p>
    </div>
}
