@model IEnumerable<EducationManual.Models.TaskForStudent>

<p>
    <h3>
        Choose task for student
    </h3>
</p>

<br/>

<table class="table table-striped table-hover ">
    <tr>
        <th>
            #
        </th>
        <th>
            Test Name
        </th>
    </tr>

    @{ int i = 0;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{ i++;}
                @i
            </td>
            <td>
                @Html.ActionLink(item.Name, "ChooseStudent", new { classroomId = ViewBag.ClassroomId, studentId = ViewBag.StudentId, testId = item.TaskId })
            </td>
        </tr>
    }

</table>
