@model IEnumerable<EducationManual.Models.Classroom>

@{
    ViewBag.Title = "Create new lesson";
}

<h2>@ViewBag.Title</h2>
<h4>Choose classroom where you want to teach</h4>

<br />

<table class="table table-striped table-hover ">
    <tr class="success">
        <th style="text-align:center;width:3%;">
            #
        </th>
        <th>
            Classroom name
        </th>
        <th>
            Students count
        </th>
    </tr>

    @{ int i = 0;}
    @foreach (var item in Model)
    {
        <tr class="active"  onclick="Redirect(@item.ClassroomId)" style="font-size:large;vertical-align:central;">
            <td style="background-color:#00e6b8; width:3%; vertical-align:central;text-align:center">
                @{ i++;}
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Students.Count)
            </td>
        </tr>
    }

</table>

@section scripts
{
    <script type="text/javascript">
        function Redirect(id) {
            location.href = '/Lesson/ChooseStudent?classroomId=' + id;
        }
    </script>
}